:root {
    --jumbotron-padding-y: 3rem;
  }

  body {
    overflow-x: hidden;
  }
  
  .jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: calc(var(--jumbotron-padding-y) * 2);
      padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron-heading {
    font-weight: 300;
  }

  .internship-heading {
    margin-bottom: 20px; /* Adjust this value to your liking */
}

  .past-work-jumbotron{
    background-color: #f8f9fa;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }
  
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
  
  .carousel-item img {
    display: block;
    width: 400px;
    height: 400px;
    object-fit: contain;
    margin: 0 auto 10px;
  }

  .carousel-item .ForestPoint-item {
    transform: translateY(100px);
  }
  
  .carousel-caption {
    color: #000 !important; /* Change this to any color you prefer */
    position: relative; /* Override the absolute positioning */
    transform: none; /* Remove the transform */
    bottom: auto; /* Remove the bottom positioning */
    text-align: center; /* Center the text */
    left: 280px; /* Add this line */
    right: 0%; /* Add this line */
    width: 50%; /* Add this line */
    margin-bottom: 10px;
    height: 200px; /* Add this line */
    overflow: auto; /* Add this line */
  }

  @media (max-width: 768px) {

    .carousel-item img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: contain;
      margin: 0 auto 10px;
    }

    .carousel-item {
      position: relative;
    }
    
    .carousel-caption {
      position: relative;
      transform: none;
      bottom: 0;
      text-align: center;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      margin-bottom: 50px;
      
    }

    .carousel-indicators li {
      position: relative;
      background-color: black;
      transform: 3;
  }
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    filter: invert(1);
}

.carousel-indicators li {
    background-color: black;
    transform: 3;
}

  .carousel-indicators .active {
    background-color: grey;
}

.img-framed {
  border: 1px solid #989393;
  border-radius: 50%;
  padding: 5px;
  width: 500px;
}

@media (max-width: 768px) {
  .btn-lg {
    margin-bottom: 10px;
  }
}

.custom-margin {
  margin-left: 15rem;
  margin-top: 5rem;
}